html,
body {
    overscroll-behavior: none;
}

.scrollflow {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollflow.horizontal {
    display: flex;
    align-items: end;
    justify-content: center;
}

.sf-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sf-section {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.sf-section .sf-content-overflow {
    width: fit-content;
    height: fit-content;
}

.sf-section::-webkit-scrollbar {
    display: none;
}

.scrollflow.fade .sf-section {
    opacity: 0;
    transition: opacity .3s ease .3s, transform .4s ease 1s;
}

.scrollflow.fade .sf-section.sf-section-active {
    opacity: 1;
    transition: opacity .3s ease .3s, transform .4s ease 0ms;
}

.scrollflow.fade-content .sf-section * {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.scrollflow.fade-content .sf-section.sf-section-active * {
    transition: opacity 1s ease 0.7s, transform 1s ease 0.7s;
    opacity: 1;
}

.sf-pagination {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    right: 24px;
    display: flex;
}

.sf-pagination-horizontal {
    flex-direction: row;
    bottom: 50px;
    right: unset;
}

.sf-pagination .sf-dot {
    width: 6px;
    height: 12px;
    border-radius: 1px;
    background-color: black;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.34;
    transition: all .9s ease;
}

.sf-pagination .sf-dot.active {
    height: 18px;
    opacity: 1;
}

.sf-pagination-horizontal .sf-dot{
    width: 12px;
    height: 6px;
}

.sf-pagination-horizontal .sf-dot.active {
    width: 18px;
    height: 6px;
    opacity: 1;
}

.sf-pagination-horizontal .sf-dot {
    margin: 0 8px;
}